@import url(https://fonts.googleapis.com/css?family=Sancreek);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color:#FF0000;
	color:#222;
	text-align:center;
}

ul  {
	list-style-type: none;
}



h1,#slogan {
	font-style:italic;
	font-family: 'Sancreek', cursive;
	text-align: center
}

.nameslogan {
	background-color: #00ff00;
	padding-top: 10px;
}

.navlinks li {
	display:inline;
	padding-right: 50px;
	padding-left: 50px;
}

.missionstate {
	
	font-size: 150%
}

#wrapper {
	background: #ffffff;
	width: 1200px;
	margin: 0 auto; 
}


