@import url(https://fonts.googleapis.com/css?family=Sancreek);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #b20000;
	color: #222;
}
.clear {
	clear: both;
} 

#wrapper {
	background: #ffffff;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto; 
}

ul  {
	list-style-type: none;
}

h1,#slogan {
	font-style:italic;
	font-family: 'Sancreek', cursive;
	text-align: center;
	font-size: 2.50em;
	background-color: #009246;
}

#name {
	background-color: #009246;
	padding-top: 1%;
}

nav li  {
	display: inline-block;
	padding: 1% 0 1.25% 1.25%;
	font-size: 1.5em;
	font-weight: bold;
	
}

.missionstate {
	text-align: center;
	font-size: 150%;
	padding: 1.5em;
	font-weight: bold;
}

#calzone  {
	float: left;
	max-width:259px;
	width: 21.583333333333332%;
	margin:0 150px;
	display: inline-block;
}	

#wpizza {
	
	max-width: 259px;
	width: 21.583333333333332%;
	margin: 0 150px;
	display: inline-block;
}
article {
	display: block;
	font-size: 140%;
	padding: 2em;
	font-weight: normal;
	margin:10px;
	clear: left;
	border:2px black solid;
}
#slice  {
	
	max-width: 259px;
	width: 21.583333333333332%;
	margin: 20px 150px;
	display: inline-block;
}

#meatball {
	float: left;
	max-width:259px;
	width: 21.583333333333332%;
	margin:20px 150px;
	display: inline-block;
}


#sizes {
	max-width: 167.156px;
	width: 13.9296%;
	line-height:30px;
    height:40em;
    float:left;
    padding: .1em;
    background-color:#99CC99;
    margin: 0 auto;

}
	
#veggiescol, #meatscol, #cheesecol {
	max-width: 300px;
	width:  87.138%;
	float: left;
	border: 4px black solid;
	margin: 0 20px;
	font-size: 1.2em;
	padding: 1em;
}
#pgirls  {
	float: left;
	max-width: 446px;
	width: 37.1666%;
	display: block;
	margin: 15px 25px;
}

#tossed  {
	float: left;
	max-width: 391px;
	width: 51.8567%;
	display:block;
	margin: 15px 70px; 
}
a { 
	text-decoration: none;
}

h2 {
	font-size: 1.75em;
	text-align: center;
	font-variant: small-caps;
	margin-bottom: 15px;
}
a:hover {
    color: red;
}
footer {
    padding: 1.5em;
	font-weight: 500;
	background: #009246;
	clear: both;
}

@media screen and (max-width: 1024px) {

}



}

