@import url(https://fonts.googleapis.com/css?family=Sancreek);
* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: #F5F5DC;
	color: #222;
	font-size: 18px;

}
.clear {
	clear: both;
} 

#wrapper {
	background: #ffffff;
	max-width: 1200px;
	width: 100%;
	border: 2em solid #B20000;
	margin: 0 auto; 
	
}

ul  {
	list-style-type: none;
}
/*---------------index elements----------*/
h1, #slogan {
	font-style:italic;
	font-family: 'Sancreek', cursive;
	text-align: center;
	font-size: 2.50em;
	background-color: #009246;
}


#name {
	background-color: #009246;
	padding-top: 1%;
}

nav li  {
	display: inline-block;
	padding: 1% 0 1.25% 1.25%;
	font-size: 1.5em;
	font-weight: bold;
}

.missionstate {
	text-align: center;
	font-size: 150%;
	padding: 1.5em;
	font-weight: bold;
}

#calzone  {
	float: left;
	max-width:259px;
	width: 80%;
	margin:0 150px;
	display: inline-block;
}	

#wpizza {
	max-width: 259px;
	width: 80%;
	margin: 0 150px;
	display: inline-block;
	
}
section  {
	display: block;
	font-size: 1.5em;
	padding: .15em;
	font-weight: normal;
	margin:10px;
	clear: left;
	border:2px black solid;
	line-height: 1.5;
}
h5 {
	text-align: center; 
}
#slice  {
	
	max-width: 259px;
	width: 80%;
	margin: 20px 150px;
	display: inline-block;
}


#meatball  {
	float: left;
	max-width:259px;
	width: 80%;
	margin:20px 150px;
	display: inline-block;
}
/*---------------index elements----------*/
/*---------------menu elements----------*/

#sizes {
	max-width: 200px;
	width: 20%;
	line-height:40px;
    height:60em;
    float:left;
    padding: .1em;
    background-color:#99CC99;
    margin: 25px 25px 0 0px;

}
	
#veggiescol, #meatscol, #cheesecol {
	max-width: 250px;
	width:  87.138%;
	float: left;
	border: 4px black solid;
	margin: 25px 20px;
	font-size: 1.2em;
	padding: 1em;
	line-height: 30px;

}
h3	{
	text-align: center;
}
h4 {
	margin-top: 100px;
	text-align: center;
	font-style:italic;
	font-family: 'Sancreek', cursive;

}
#pgirls {
	float: left;
	max-width: 305px;
	width: 37.1666%;
	display: inline-block;
	margin: 45px 50px 0 50px;
	
}

#tossed {
	float: left;
	max-width: 297px;
	width: 51.8567%;
	display: inline-block;
	margin: 45px 50px 0 50px;
}
img {
	border-radius: 15px;
	border: 2px solid #009246;
}	
a	{ 
	text-decoration: none;
	color: #E9967A;
}

h2 {
	font-size: 1.75em;
	text-align: center;
	font-variant: small-caps;
	margin-bottom: 15px;
}
a:hover {
    color: red;
}

/*---------------menu elements----------*/
/*---------------pol elements----------*/
#pol	{
	line-height: 1.5;
	margin-bottom: 1.5em;

}
.creditcards	{
	display: inline-block;
	padding: 1% 1% 1.25% 1.25%;
	font-size: 1em;
	font-weight: bold;
	float: left;
	margin:0 50px;
	width: 100%;
	word-spacing: 2px;
}
.creditcardsname	{
	display: inline-block;	
	font-size: 1em;
	font-weight: bold;
	float: left;
	margin:20px  20px;
}	

.creditcardsnumber	{
	display: inline-block;	
	font-size: 1em;
	font-weight: bold;
	margin:20px  20px;
}

.creditcardsadd	{
	display: inline-block;	
	font-size: 1em;
	font-weight: bold;
	margin:20px  20px;
}
footer {
    padding: 1.5em;
	font-weight: 500;
	background: #009246;
	clear: both;
}
/*----pol----------*/
/*tablet viewpoint*/
@media screen and (max-width: 1130px){
	body {
	font-size: 16px;
}

h1, #slogan {
	font-style:italic;
	font-family: 'Sancreek', cursive;
	text-align: center;
	font-size: 1em;
	background-color: #009246;
}
ul  {
	list-style-type: none;
}

nav li  {
	display: block;
	padding: 1% 0 1.25% 1.25%;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	
}
#veggiescol, #meatscol, #cheesecol {
	max-width: 300px;
	width:  100%;
	float: none;
	border: 4px black solid;
	margin-top: 200px;
	font-size: 1.2em;
	padding: 1em;
	line-height: 30px;
	clear: both;

}
#sizes {
	max-width:167.156px;
	width: 100%;
	height:15%;
    text-align: center;
    float:none;
    padding: .1em;
    background-color:#99CC99;
    margin: 25px auto;
    font-size: 1.5em;
}
#pgirls  {
	max-width: 305px;
	width: 80%;
	display: block;
	float: left;
	overflow: hidden;
	margin: 0 50px

}

#tossed  {
	max-width: 297px;
	width: 100%;
	display: block;
	margin: 15px  50px;
	float: none10
	overflow: hidden;
}

#calzone  {
	float: left;
	max-width:259px;
	width: 100%;
	margin:0 50px;
	display: inline-block;
}	

#wpizza {
	
	max-width: 259px;
	width: 100%;
	margin: 0 50px;
	display: block;
}
#slice  {
	
	max-width: 259px;
	width: 100%;
	margin: 0 50px;
	display: block;
}

#meatball  {
	float: left;
	max-width:259px;
	width: 100%;
	margin: 0 50px;
	display: block;
}
 #wrapper {
	background: #ffffff;
	max-width: 1200px;
	width: 100%;
	border: 2em solid #B20000;
	margin: 0 auto; 
}   

img {
	border-radius: 15px;
	border: 2px solid #009246;
	
}


/*smartphone viewpoint*/
@media screen and (max-width: 478px) {

body {
	font-size: 13px;
}

h1, #slogan {
	font-style:italic;
	font-family: 'Sancreek', cursive;
	text-align: center;
	font-size: 1.5em;
	background-color: #009246;
}
ul  {
	list-style-type: none;
}

nav li  {
	display: block;
	padding: 1% 0 1.25% 1.25%;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	
}
#veggiescol, #meatscol, #cheesecol {
	max-width: 300px;
	width:  87.138%;
	float: none;
	border: 4px black solid;
	margin-top: 200px;
	font-size: 1.2em;
	padding: 1em;
	line-height: 30px;
	clear: both;

}
#sizes {
	max-width:167.156px;
	width: 100%;
	height:15%;
    text-align: center;
    float:none;
    padding: .1em;
    background-color:#99CC99;
    margin: 25px auto;
    font-size: 1.5em;
}
#pgirls  {
	max-width: 305px;
	width: 100%;
	display: block;
	float: left;
	overflow: hidden;
	margin: 0 50px

}

#tossed  {
	max-width: 297px;
	width: 100%;
	display: block;
	margin: 15px  50px;
	float: none;
	overflow: hidden;
}

#calzone  {
	float: left;
	max-width:259px;
	width: 100%;
	margin:0 50px;
	display: inline-block;
}	

#wpizza {
	
	max-width: 259px;
	width: 100%;
	margin: 0 50px;
	display: inline-block;
}
#slice  {
	
	max-width: 259px;
	width: 100%;
	margin: 0 50px;
	display: inline-block;
}

#meatball  {
	float: left;
	max-width:259px;
	width: 100%;
	margin: 0 50px;
	display: inline-block;
}
 #wrapper {
	background: #ffffff;
	max-width: 1200px;
	width: 100%;
	border: 2em solid #B20000;
	margin: 0 auto; 
}   

img {
	border-radius: 15px;
	border: 2px solid #009246;
}
}





